@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

h1 {
    font-family: 'Inter var';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    text-align: center;
    color: #ffb300;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #000;
  }

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #ffb300;
}

/* selected link */
a:active {
  color: #ffb300;
}
